/*
!.gitignore
!gitignore_global
!i3/
!i3status/
!dmenu_exclude
!bashrc
!README.md
!Xresources
!git-prompt.sh
!git-completion.bash
!elinks/bookmarks
!elinks/elinks.conf
!myclirc
!generate-package-list.sh
!inital-setup.sh
!package-list.txt
!pacman-hooks/
!lock.sh
!generate-local-configs.sh
!Xresources-template
!local-settings.example
