/*
!.gitignore
!gitignore_global
!dmenu_exclude
!bashrc
!README.md
!git-prompt.sh
!git-completion.bash
!elinks/bookmarks
!elinks/elinks.conf
!myclirc
!generate-package-list.sh
!inital-setup.sh
!package-list.txt
!pacman-hooks/
!lock.sh
!screen-lock-overlay.png
!generate-local-configs.sh
!pull.sh
!inputrc
!dunst
!zshrc
!aliases

!pre-commit.sh

!i3
!i3status
i3/config
i3status/config

!Xresources.example
