/*
!.gitignore
!gitignore_global
!dmenu_exclude
!bashrc
!README.md
!git-prompt.sh
!git-completion.bash
!elinks/bookmarks
!elinks/elinks.conf
!myclirc
!generate-package-list.sh
!inital-setup.sh
!package-list.txt
!pacman-hooks/
!lock.sh
!soft-blue-fs8.png
!generate-local-configs.sh
!pull.sh
!inputrc
!zshrc
!aliases

!dunst
dunst/dunstrc

!pre-commit.sh

!i3
!i3status

!Xresources.example

gtk-3.0/settings.ini
gtk-3.0/bookmarks
!gtk-3.0

!gtkrc-2.0.example

!Kvantum/

!clang-format

!picom.conf

!tridactyl/

!rofi/
