# Simple config file.
# Any line beginning with a hash is a comment.
# Variables take the form KEY=value.
# Whitespace-sensitive.

[i3/config]

I3_WINDOW_TITLE_FONT=DejaVu Sans 15
I3_BAR_FONT=DejaVu Sans 12

[Xresources]

URXVT_FONT=-xos4-terminus-bold-*-normal-*-22-*-*-*-*-*-*-*
URXVT_BOLD_FONT=-xos4-terminus-bold-*-normal-*-22-*-*-*-*-*-*-*
URXVT_ITALIC_FONT=-xos4-terminus-*-*-normal-*-22-*-*-*-*-*-*-*
URXVT_BOLD_ITALIC_FONT=-xos4-terminus-*-*-normal-*-22-*-*-*-*-*-*-*
